.row.question-wrapper
  .one-half.column
    %h2 Q2: What is your dream product?
    %p You need to ensure you're focused...

    = form_tag '/questions/two', class: 'questions', method: 'put' do
      .row
        .nine.columns
          = label_tag "I want to build an incredible web application"
        .three.columns
          = radio_button_tag :q2, value: '1', class: 'radio-button', id: "radio-1"
      .row
        .nine.columns
          = label_tag "I'm going to change the world of mobile"
        .three.columns
          = radio_button_tag :q2, value: '2', class: 'radio-button', id: "radio-2"
      .row
        .nine.columns
          = label_tag "I'll create a game-changing physical product."
        .three.columns
          = radio_button_tag :q2, value: '3', class: 'radio-button', id: "radio-3"
      .row
        .nine.columns
          = label_tag "It's just an idea... I'm not sure how to execute..."
        .three.columns
          = radio_button_tag :q2, value: '4', class: 'radio-button', id: "radio-4"
      .row
        .one-third.column.one-third-offset.column.next-question-button
          = hidden_field_tag :id, value: "#{@user.id}"
          = hidden_form_method_field 'put'
          = submit_tag 'Onto Question Three!', class: 'button button-primary'
  .one-half.column
    = image_tag 'human-2.gif', class: 'image-half-right'
